.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    text-decoration: none;
    color: #333;
    &:hover {
      color: #5ca7dd;
    }
  }
  

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
