.form__button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 18px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family:  sans-serif;
    font-weight: 400;
    border: none;
    line-height: 1.2;
    cursor: pointer;
    margin: 10px;
    &.google{
    background-color: #1470f7;

    }

    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
    &.google:hover{
      color: #1470f7;
      border: 1px solid #1470f7;
    }
  }
 